<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for=""></label>
        <input type="text" name="name" placeholder="enter name" value="Josh is here again">
        <br>
        <input type="text" name="username" placeholder="enter username">
        <br>
        <input type="email" name="email" placeholder="enter email">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <br>
        <input type="hidden" name="hidden" value="100">
        <input type="submit" value="Submit">
    </form>
</body>
</html>